In [5]:
import pandas as pd
import numpy as np

# Contoh dataset dengan beberapa masalah data
data = {
    'Product': ['Laptop', 'Laptop', 'Desktop', 'Tablet', 'tablet', 'Phone', None],
    'Category': ['Electronics', 'electronics', 'Electronics', 'Gadgets', 'gadgets', 'Electronics', 'Gadgets'],
    'Price': [1200, 1300, None, 800, 800, 600, 600],
    'Quantity': [5, None, 8, 3, 3, 10, None]
}

df = pd.DataFrame(data)
print("Dataset Awal")
print(df)

print("\nMissing Values")
print(df.isnull().sum())

df['Price'].fillna(df['Price'].mean(), inplace=True)       
df['Quantity'].fillna(df['Quantity'].median(), inplace=True) 

df.dropna(subset=['Product'], inplace=True)

print("\nMenangani Missing Data")
print(df)

num_cols = ['Price', 'Quantity']
df[num_cols] = (df[num_cols] - df[num_cols].min()) / (df[num_cols].max() - df[num_cols].min())

print("\nNormalisasi Numerik")
print(df)

df['Product'] = df['Product'].str.strip().str.capitalize()
df['Category'] = df['Category'].str.strip().str.capitalize()

print("\nStandarisasi Kategorikal")
print(df)

df.drop_duplicates(inplace=True)
print("\nMenghapus Duplikasi")
print(df)

Dataset Awal
   Product     Category   Price  Quantity
0   Laptop  Electronics  1200.0       5.0
1   Laptop  electronics  1300.0       NaN
2  Desktop  Electronics     NaN       8.0
3   Tablet      Gadgets   800.0       3.0
4   tablet      gadgets   800.0       3.0
5    Phone  Electronics   600.0      10.0
6     None      Gadgets   600.0       NaN

Missing Values
Product     1
Category    0
Price       1
Quantity    2
dtype: int64

Menangani Missing Data
   Product     Category        Price  Quantity
0   Laptop  Electronics  1200.000000       5.0
1   Laptop  electronics  1300.000000       5.0
2  Desktop  Electronics   883.333333       8.0
3   Tablet      Gadgets   800.000000       3.0
4   tablet      gadgets   800.000000       3.0
5    Phone  Electronics   600.000000      10.0

Normalisasi Numerik
   Product     Category     Price  Quantity
0   Laptop  Electronics  0.857143  0.285714
1   Laptop  electronics  1.000000  0.285714
2  Desktop  Electronics  0.404762  0.714286
3   Tablet      Gadgets  0.285714  0.000000
4   tablet      gadgets  0.285714  0.000000
5    Phone  Electronics  0.000000  1.000000

Standarisasi Kategorikal
   Product     Category     Price  Quantity
0   Laptop  Electronics  0.857143  0.285714
1   Laptop  Electronics  1.000000  0.285714
2  Desktop  Electronics  0.404762  0.714286
3   Tablet      Gadgets  0.285714  0.000000
4   Tablet      Gadgets  0.285714  0.000000
5    Phone  Electronics  0.000000  1.000000

Menghapus Duplikasi
   Product     Category     Price  Quantity
0   Laptop  Electronics  0.857143  0.285714
1   Laptop  Electronics  1.000000  0.285714
2  Desktop  Electronics  0.404762  0.714286
3   Tablet      Gadgets  0.285714  0.000000
5    Phone  Electronics  0.000000  1.000000

/tmp/ipykernel_5825/3234456519.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(df['Price'].mean(), inplace=True)
/tmp/ipykernel_5825/3234456519.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Quantity'].fillna(df['Quantity'].median(), inplace=True)