In [ ]:
# Condition Equal

a = 5
a == 6

False

In [ ]:
# Greater than sign

i = 6
i > 5

True

In [ ]:
# Greater than sign

i = 2
i > 5

False

In [ ]:
# Inequality Sign

i = 2
i != 6

True

In [ ]:
# Inequality Sign

i = 6
i != 6

False

In [ ]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

In [ ]:
# Use Inequality sign to compare the strings

"ACDC" != "Michael Jackson"

True

In [ ]:
# Compare characters

'B' > 'A'

True

In [ ]:
# Compare characters

'BA' > 'AB'

True

In [ ]:
"ba" >= 'ba'

True

In [ ]:
# If statement example

#age = 19
age = 18

#expression that can be true or false
if age > 18:

    #whithin an indent, we have the expression that is run if the condition is true
    print("you can enter")

#The statement after the if statement will run regardless if the condition is true or false
print("move on")

move on

In [ ]:
# Else statement example

#age =17
age = 19

if age > 18:
    print("you can enter")
else :
    print("go see Meat Loaf")
    #print("move on")

print("move on")

you can enter
move on

In [ ]:
# Elif statement example

age = 18

if age > 18:
    print("you can enter")
elif age == 18:
    print("go see pink Floyd")
else :
    print("go see Meat Loaf")

print("move on")

go see pink Floyd
move on

In [ ]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")

print('do something. .')

Album year is greater than 1980
do something. .

In [ ]:
# Condition statement example

#album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something. .')

less than 1980
do something. .

In [ ]:
# Condition statement example

album_year = 1980

if(album_year) > 1979 and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")

print("")
print("Do Stuff. .")

Album year was in between 1980 and 1989

Do Stuff. .

In [ ]:
# Conditition statement example

album_year = 1978

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The ALbum was made in the 1980")

Album was not made in the 1980's

In [ ]:
# Condition statement example

album_year = 1984

if not (album_year == '1984'):
    print ("Album year is not 1984")

Album year is not 1984

In [ ]:
# Write your code below and press Shift+Enter to execute

In [ ]:
# Write your code below and press Shift+Enter to execute

In [ ]:
# Write your code below and press Shift+Enter to execute

In [2]:
print ('umur minimal 17 sudah boleh membuat SIM')
print('')
age = int(input('masukan umur anda : '))
if age<17:
    print ('tidak boleh membuat SIM')
else:
    print ('sudah boleh membuat sim')

umur minimal 17 sudah boleh membuat SIM

masukan umur anda : 19
sudah boleh membuat sim

In [7]:
nil = int(input('Enter your Grade:'))
if nil >=90:
    print("Grade = A")
elif nil >=80:
    print("Grade = B+")
elif nil >=70:
    print("Grade = B")
elif nil >=60:
    print("Grade = C+")
elif nil >= 50:
    print("Grade = C")
elif nil >= 40:
    print("Grade = D")
else:
    print("Grade = E")

Enter your Grade:78
Grade = B

In [9]:
nilai = float(input("Enter your Grade "))
if nilai >=80.00 and (nilai)<=100:
    print("Grade A")
elif nilai >=77.50 and (nilai)<=79.99:
    print ("Grade A-")
elif nilai >=75.00 and (nilai)<=77.49:
    print ("Grade A/B")
elif nilai >=72.50 and (nilai)<=74.99:
    print ("Grade B+")
elif nilai >=70.00 and (nilai)<=72.49:
    print ("Grade B")
elif nilai >=67.50 and (nilai)<=69.99:
    print ("Grade B-")
elif nilai >=65.00 and (nilai)<=67.49:
    print ("Grade B/C")
elif nilai >=62.50 and (nilai)<=64.99:
    print ("Grade C+")
elif nilai >=60.00 and (nilai)<=62.49:
    print ("Grade C")
elif nilai >=55.00 and (nilai)<=59.99:
    print ("Grade C-")
elif nilai >=50.00 and (nilai)<=54.99:
    print ("Grade C/D")
elif nilai >=45.00 and (nilai)<=49.99:
    print ("Grade D+")
elif nilai >=40.00 and (nilai)<=44.99:
    print ("Grade D")
else:
    print ("Grade E")

Enter your Grade 78.80
Grade A-