In [ ]:
class Myclass :
  x= 5

In [ ]:
p1 = Myclass ( )
print ( p1.x )

5

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x7aa5e66b7a30>

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [ ]:
p1.age = 40

In [ ]:
#Delete the age property from the p1 object:
del p1.age

NameError: name 'p1' is not defined

In [ ]:
del p1

NameError: name 'p1' is not defined

In [ ]:
class Person:
  pass

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

x = Person("John", "Doe")
x.printname()

John Doe

In [ ]:
#Create a class named Student, which will inherit the properties and methods from the Person class:
class Student(Person):
  pass

In [ ]:
class Student:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):

SyntaxError: incomplete input (<ipython-input-28-b7d7333a4222>, line 2)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2023

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2023)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [ ]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

In [ ]:
mystr = "banana"

for x in mystr:
  print(x)

b
a
n
a
n
a

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
x = "Hello World!"

print(len(x))

12

In [ ]:
mytuple = ("apple", "banana", "cherry")

print(len(mytuple))

3

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(thisdict))

3

In [ ]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car class
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat class
plane1 = Plane("Boeing", "747")     #Create a Plane class

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [ ]:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang") #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747") #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

In [1]:
class AlatTulis:
  def __init__(self, name, stock, harga_satuan):
    self.name = name
    self.stock = stock
    self.harga_satuan = harga_satuan
    self.harga = stock * harga_satuan

  def set_name(self, name):
    self.name = name

  def set_stock(self, stock):
    self.stock = stock
    self.harga = self.stock * self.harga_satuan

  def get_name(self):
    return self.name

  def get_stock(self):
    return self.stock

  def get_harga_satuan(self):
    return self.harga_satuan

  def get_harga(self):
    return self.harga

bolpoint = AlatTulis("Bolpoint", 10, 2000)
pensil = AlatTulis("Pensil", 10, 1000)
penghapus = AlatTulis("Penghapus", 10, 500)

print("Nama: ", bolpoint.get_name())
print("Jumlah: ", bolpoint.get_stock())
print("Harga Satuan: ", bolpoint.get_harga_satuan())
print("Total Harga: ", bolpoint.get_harga(), '\n')
print("Nama: ", pensil.get_name())
print("Jumlah: ", pensil.get_stock())
print("Harga Satuan: ", pensil.get_harga_satuan())
print("Total Harga: ", pensil.get_harga(), '\n')
print("Nama" , penghapus.get_name())
print("Jumlah: ", penghapus.get_stock())
print("Harga Satuan: ", penghapus.get_harga_satuan())
print("Total Harga: ", penghapus.get_harga(), '\n')

Nama:  Bolpoint
Jumlah:  10
Harga Satuan:  2000
Total Harga:  20000

Nama:  Pensil
Jumlah:  10
Harga Satuan:  1000
Total Harga:  10000

Nama Penghapus
Jumlah:  10
Harga Satuan:  500
Total Harga:  5000