In [ ]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [ ]:
def my_function(fname):
  print(fname + " Sitohang")

my_function("Toha")
my_function("Tohir")
my_function("Tobi")

Toha Sitohang
Tohir Sitohang
Tobi Sitohang

In [ ]:
#This function expects 2 arguments, and gets 2 arguments:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Toha", "Sitohang")

Toha Sitohang

In [ ]:
#This function expects 2 arguments, but gets only 1:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Surip")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [ ]:
#If the number of arguments is unknown, add a * before the parameter name:

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Lekyung", "Jimin", "Tukimin")

The youngest child is Tukimin

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Lekyung", child2 = "Tukimin", child3 = "Jimin")

The youngest child is Jimin

In [ ]:
#If the number of keyword arguments is unknown, add a double ** before the parameter name:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Thanos", lname = "ireng Man")

His last name is ireng Man

In [ ]:
def my_function(country = "Indonesia"):
  print("I am from " + country)

my_function("UEA")
my_function("Arab Saudi")
my_function()
my_function("Malaysia")

I am from UEA
I am from Arab Saudi
I am from Indonesia
I am from Malaysia

In [ ]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
def myfunction():
  pass

In [ ]:
#Recursion Example
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(1)

Recursion Example Results
1

1

In [ ]:
# Write your code below and press Shift+Enter to execute
def faktorial(x):
    if x == 1:
        return 1
    else:
        return (x * faktorial(x-1))

faktorial(2)

2

In [2]:
#WEEKLY EXERCISE 10 NO. 2
import math

def luas_lingkaran(jari_jari):
  return math.pi * (jari_jari ** 2)

def luas_persegi(sisi):
  return sisi ** 2

def luas_segitiga(alas, tinggi):
  return 0,5 * alas * tinggi

def main():
  while True:
      print("\nKalkulator Luas Bangun Datar")
      print("No. 1 Luas Lingkaran")
      print("No. 2 Luas Persegi")
      print("No. 3 Luas Segitiga")
      print("No. 4 Keluar")

      choice = input("Pilih Kalkulasi (1-4): ")

      if choice == '1':
        jari_jari = int(input("Jari-jari lingkaran yang akan dihitung: "))
        print(f"Luas lingkaran adalah: {luas_lingkaran(jari_jari)}")
      elif choice == '2':
        sisi = int(input("Panjang alas segitiga yang akan dihitung: "))
        print(f"Luas persegi adalah: {luas_persegi(sisi)}")
      elif choice == '3':
        alas = int(input("Panjang alas segitiga yang akan dihitung: "))
        tinggi = int(input("Tinggi segitiga yang akan dihitung: "))
        print(f"Luas segitiga adalah: {luas_segitiga(alas, tinggi)}")
      elif choice == '4':
        print("Thank you! Program is complete.")
        break
      else:
        print("Invalid choice. Try Again")

if __name__ == "__main__":
    main()

Kalkulator Luas Bangun Datar
No. 1 Luas Lingkaran
No. 2 Luas Persegi
No. 3 Luas Segitiga
No. 4 Keluar
Pilih Kalkulasi (1-4): 1
Jari-jari lingkaran yang akan dihitung: 4
Luas lingkaran adalah: 50.26548245743669

Kalkulator Luas Bangun Datar
No. 1 Luas Lingkaran
No. 2 Luas Persegi
No. 3 Luas Segitiga
No. 4 Keluar
Pilih Kalkulasi (1-4): 4
Thank you! Program is complete.

In [1]:
# WEEKLY EXERCISE 10 NO. 1
def faktorial (n):
  if n == 0 or n == 1:
    return 1
  else:
    return n * faktorial(n-1)

def main():
  try:
    num = int(input("Enter a number: "))
    if num < 0:
      print("Please enter a number: ")
    else:
      result = faktorial(num)
      print(f"Factorial from {num} is {result}.")
  except ValueError:
    print("Invalid Input. Please enter a number.")

if __name__ == "__main__":
    main()

Enter a number: 5
Factorial from 5 is 120.