In [2]:
!pip install pymongo

Requirement already satisfied: pymongo in /home/tika/anaconda3/lib/python3.13/site-packages (4.15.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /home/tika/anaconda3/lib/python3.13/site-packages (from pymongo) (2.8.0)

In [3]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [5]:
 # Contoh Insert Data
collection.delete_many({})
employee_data = {
 'name': 'Alice',
 'department': 'Finance',
 'age': 29,
 'salary': 4500
 }

collection.insert_one(employee_data)
print('Data inserted')

# Contoh Query Data
for employee in collection.find():
    print(employee)

Data inserted
{'_id': ObjectId('690b64c7935e4af06f2d84d2'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}

In [6]:
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': { '$avg': '$salary' }}}
]

for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 4500.0}