In [41]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('BigData3').getOrCreate()

data = [("E01", "Wielino Septian", 28, "Engineering", "Software Engineer", 75000, "2020-01-15"),
        ("M01", "Guntur Syahputra", 32, "Marketing", "Marketing Manager", 68000, "2019-03-20"),
        ("E02", "Steven Aprizal", 45, "Engineering", "Senior Engineer", 95000, "2018-07-10"),
        ("H01", "Ace Anthem", 29, "HR", "HR Specialist", 55000, "2021-02-05"),
        ("F01", "Karezu Hanayako", 38, "Finance", "Financial Analyst", 72000, "2019-11-12"),
        ("M02", "Musa Okta", 26, "Marketing", "Marketing Coor", 48000, "2022-01-08"),
        ("F02", "Rafli Ihza", 41, "Finance", "Finance Manager", 88000, "2017-09-25"),
        ("E03", "Hendrawan Putra", 33, "Engineering", "DevOps Engineer", 82000, "2020-06-18"),
        ("H02", "Nyoman Agas", 35, "HR", "HR Manager", 78000, "2018-12-03"),
        ("M03", "Arta Dewangga", 27, "Marketing", "Digital Marketer", 52000, "2021-08-14")
        ]
columns = ['ID', 'NamaKaryawan', 'Usia', 'Divisi', 'Jabatan', 'Gaji', 'TanggalBergabung']

df = spark.createDataFrame(data, schema=columns)
df.show()

+---+----------------+----+-----------+-----------------+-----+----------------+
| ID|    NamaKaryawan|Usia|     Divisi|          Jabatan| Gaji|TanggalBergabung|
+---+----------------+----+-----------+-----------------+-----+----------------+
|E01| Wielino Septian|  28|Engineering|Software Engineer|75000|      2020-01-15|
|M01|Guntur Syahputra|  32|  Marketing|Marketing Manager|68000|      2019-03-20|
|E02|  Steven Aprizal|  45|Engineering|  Senior Engineer|95000|      2018-07-10|
|H01|      Ace Anthem|  29|         HR|    HR Specialist|55000|      2021-02-05|
|F01| Karezu Hanayako|  38|    Finance|Financial Analyst|72000|      2019-11-12|
|M02|       Musa Okta|  26|  Marketing|   Marketing Coor|48000|      2022-01-08|
|F02|      Rafli Ihza|  41|    Finance|  Finance Manager|88000|      2017-09-25|
|E03| Hendrawan Putra|  33|Engineering|  DevOps Engineer|82000|      2020-06-18|
|H02|     Nyoman Agas|  35|         HR|       HR Manager|78000|      2018-12-03|
|M03|   Arta Dewangga|  27|  Marketing| Digital Marketer|52000|      2021-08-14|
+---+----------------+----+-----------+-----------------+-----+----------------+

In [42]:
print("Identitas Karyawan")
df.select("ID", "NamaKaryawan","Jabatan", "Gaji").show()

print("Karyawan yang memiliki gaji lebih dari 70000")
df.filter(df["Gaji"] > 70000).select("ID", "Divisi", "Gaji").show()

print("Rata-rata Gaji Karyawan setiap Divisi")
df.groupBy("Divisi").avg("Gaji").show()

print("Rata-rata gaji semua karyawan")
df.groupBy().mean("Gaji").show()

print("Gaji maksimum setiap Divisi")
df.groupBy("Divisi").max("Gaji").show()

print("Total Semua Gaji Karyawan")
df.groupBy().sum("Gaji").show()

Identitas Karyawan
+---+----------------+-----------------+-----+
| ID|    NamaKaryawan|          Jabatan| Gaji|
+---+----------------+-----------------+-----+
|E01| Wielino Septian|Software Engineer|75000|
|M01|Guntur Syahputra|Marketing Manager|68000|
|E02|  Steven Aprizal|  Senior Engineer|95000|
|H01|      Ace Anthem|    HR Specialist|55000|
|F01| Karezu Hanayako|Financial Analyst|72000|
|M02|       Musa Okta|   Marketing Coor|48000|
|F02|      Rafli Ihza|  Finance Manager|88000|
|E03| Hendrawan Putra|  DevOps Engineer|82000|
|H02|     Nyoman Agas|       HR Manager|78000|
|M03|   Arta Dewangga| Digital Marketer|52000|
+---+----------------+-----------------+-----+

Karyawan yang memiliki gaji lebih dari 70000
+---+-----------+-----+
| ID|     Divisi| Gaji|
+---+-----------+-----+
|E01|Engineering|75000|
|E02|Engineering|95000|
|F01|    Finance|72000|
|F02|    Finance|88000|
|E03|Engineering|82000|
|H02|         HR|78000|
+---+-----------+-----+

Rata-rata Gaji Karyawan setiap Divisi
+-----------+---------+
|     Divisi|avg(Gaji)|
+-----------+---------+
|Engineering|  84000.0|
|         HR|  66500.0|
|    Finance|  80000.0|
|  Marketing|  56000.0|
+-----------+---------+

Rata-rata gaji semua karyawan
+---------+
|avg(Gaji)|
+---------+
|  71300.0|
+---------+

Gaji maksimum setiap Divisi
+-----------+---------+
|     Divisi|max(Gaji)|
+-----------+---------+
|Engineering|    95000|
|         HR|    78000|
|    Finance|    88000|
|  Marketing|    68000|
+-----------+---------+

Total Semua Gaji Karyawan
+---------+
|sum(Gaji)|
+---------+
|   713000|
+---------+

In [51]:
from pyspark.sql import functions as F

df_bonustotal = df.withColumn("Bonus", df["Gaji"] * 0.1)
df_bonustotal = df_bonustotal.withColumn("TotalCompensation", df_bonustotal["Gaji"] + df_bonustotal["Bonus"])
df_bonustotal.show()

df_lamaKerja = df.withColumn("TanggalBergabung", F.to_date("TanggalBergabung", "yyyy-MM-dd"))
df_lamaKerja = df_lamaKerja.withColumn("Tahun_Bekerja", F.year(F.current_date()) - F.year(F.col("TanggalBergabung")))
df_lamaKerja.show()

+---+----------------+----+-----------+-----------------+-----+----------------+------+-----------------+
| ID|    NamaKaryawan|Usia|     Divisi|          Jabatan| Gaji|TanggalBergabung| Bonus|TotalCompensation|
+---+----------------+----+-----------+-----------------+-----+----------------+------+-----------------+
|E01| Wielino Septian|  28|Engineering|Software Engineer|75000|      2020-01-15|7500.0|          82500.0|
|M01|Guntur Syahputra|  32|  Marketing|Marketing Manager|68000|      2019-03-20|6800.0|          74800.0|
|E02|  Steven Aprizal|  45|Engineering|  Senior Engineer|95000|      2018-07-10|9500.0|         104500.0|
|H01|      Ace Anthem|  29|         HR|    HR Specialist|55000|      2021-02-05|5500.0|          60500.0|
|F01| Karezu Hanayako|  38|    Finance|Financial Analyst|72000|      2019-11-12|7200.0|          79200.0|
|M02|       Musa Okta|  26|  Marketing|   Marketing Coor|48000|      2022-01-08|4800.0|          52800.0|
|F02|      Rafli Ihza|  41|    Finance|  Finance Manager|88000|      2017-09-25|8800.0|          96800.0|
|E03| Hendrawan Putra|  33|Engineering|  DevOps Engineer|82000|      2020-06-18|8200.0|          90200.0|
|H02|     Nyoman Agas|  35|         HR|       HR Manager|78000|      2018-12-03|7800.0|          85800.0|
|M03|   Arta Dewangga|  27|  Marketing| Digital Marketer|52000|      2021-08-14|5200.0|          57200.0|
+---+----------------+----+-----------+-----------------+-----+----------------+------+-----------------+

+---+----------------+----+-----------+-----------------+-----+----------------+------+-----------------+-------------+
| ID|    NamaKaryawan|Usia|     Divisi|          Jabatan| Gaji|TanggalBergabung| Bonus|TotalCompensation|Tahun_Bekerja|
+---+----------------+----+-----------+-----------------+-----+----------------+------+-----------------+-------------+
|E01| Wielino Septian|  28|Engineering|Software Engineer|75000|      2020-01-15|7500.0|          82500.0|            5|
|M01|Guntur Syahputra|  32|  Marketing|Marketing Manager|68000|      2019-03-20|6800.0|          74800.0|            6|
|E02|  Steven Aprizal|  45|Engineering|  Senior Engineer|95000|      2018-07-10|9500.0|         104500.0|            7|
|H01|      Ace Anthem|  29|         HR|    HR Specialist|55000|      2021-02-05|5500.0|          60500.0|            4|
|F01| Karezu Hanayako|  38|    Finance|Financial Analyst|72000|      2019-11-12|7200.0|          79200.0|            6|
|M02|       Musa Okta|  26|  Marketing|   Marketing Coor|48000|      2022-01-08|4800.0|          52800.0|            3|
|F02|      Rafli Ihza|  41|    Finance|  Finance Manager|88000|      2017-09-25|8800.0|          96800.0|            8|
|E03| Hendrawan Putra|  33|Engineering|  DevOps Engineer|82000|      2020-06-18|8200.0|          90200.0|            5|
|H02|     Nyoman Agas|  35|         HR|       HR Manager|78000|      2018-12-03|7800.0|          85800.0|            7|
|M03|   Arta Dewangga|  27|  Marketing| Digital Marketer|52000|      2021-08-14|5200.0|          57200.0|            4|
+---+----------------+----+-----------+-----------------+-----+----------------+------+-----------------+-------------+

In [53]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window
window_rank = Window.partitionBy("Divisi").orderBy(F.desc("Gaji"))
df_rank = df.withColumn("RankBySalary", F.rank().over(window_rank))
df_rank.show()

+---+----------------+----+-----------+-----------------+-----+----------------+------+-----------------+------------+
| ID|    NamaKaryawan|Usia|     Divisi|          Jabatan| Gaji|TanggalBergabung| Bonus|TotalCompensation|RankBySalary|
+---+----------------+----+-----------+-----------------+-----+----------------+------+-----------------+------------+
|E02|  Steven Aprizal|  45|Engineering|  Senior Engineer|95000|      2018-07-10|9500.0|         104500.0|           1|
|E03| Hendrawan Putra|  33|Engineering|  DevOps Engineer|82000|      2020-06-18|8200.0|          90200.0|           2|
|E01| Wielino Septian|  28|Engineering|Software Engineer|75000|      2020-01-15|7500.0|          82500.0|           3|
|F02|      Rafli Ihza|  41|    Finance|  Finance Manager|88000|      2017-09-25|8800.0|          96800.0|           1|
|F01| Karezu Hanayako|  38|    Finance|Financial Analyst|72000|      2019-11-12|7200.0|          79200.0|           2|
|H02|     Nyoman Agas|  35|         HR|       HR Manager|78000|      2018-12-03|7800.0|          85800.0|           1|
|H01|      Ace Anthem|  29|         HR|    HR Specialist|55000|      2021-02-05|5500.0|          60500.0|           2|
|M01|Guntur Syahputra|  32|  Marketing|Marketing Manager|68000|      2019-03-20|6800.0|          74800.0|           1|
|M03|   Arta Dewangga|  27|  Marketing| Digital Marketer|52000|      2021-08-14|5200.0|          57200.0|           2|
|M02|       Musa Okta|  26|  Marketing|   Marketing Coor|48000|      2022-01-08|4800.0|          52800.0|           3|
+---+----------------+----+-----------+-----------------+-----+----------------+------+-----------------+------------+