In [ ]:
!pip install -q kaggle

In [ ]:
!cp kaggle.json ~/.kaggle

In [ ]:
!chmod 600 ~/.kaggle/kaggle.json

In [14]:
!kaggle datasets download -d 'jpmiller/employee-attrition-for-healthcare'

Dataset URL: https://www.kaggle.com/datasets/jpmiller/employee-attrition-for-healthcare
License(s): CC0-1.0
employee-attrition-for-healthcare.zip: Skipping, found more recently modified local copy (use --force to force download)

In [15]:
import zipfile

In [16]:
dataset_zip = zipfile.ZipFile('employee-attrition-for-healthcare.zip', 'r')

dataset_zip.extractall()

dataset_zip.close()

In [17]:
from pyspark.sql import SparkSession

# Membuat SparkSession
spark = SparkSession.builder \
    .appName("WatsonHealthcareAnalysis") \
    .getOrCreate()

In [18]:
# Membaca CSV ke dalam DataFrame Spark
df = spark.read.csv("/content/watson_healthcare_modified.csv", header=True, inferSchema=True)

# Melihat struktur data
df.printSchema()
df.show(5)

root
 |-- EmployeeID: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StandardHours: integer (nullable = true)
 |-- Shift: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)

+----------+---+---------+-----------------+---------+----------+----------------+---------+--------------+-------------+-----------------------+------+----------+--------------+--------+-------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+-----+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|EmployeeID|Age|Attrition|   BusinessTravel|DailyRate|Department|DistanceFromHome|Education|EducationField|EmployeeCount|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|Shift|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+----------+---+---------+-----------------+---------+----------+----------------+---------+--------------+-------------+-----------------------+------+----------+--------------+--------+-------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+-----+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|   1313919| 41|       No|    Travel_Rarely|     1102|Cardiology|               1|        2| Life Sciences|            1|                      2|Female|        94|             3|       2|  Nurse|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|    0|                8|                    0|              1|             6|                 4|                      0|                   5|
|   1200302| 49|       No|Travel_Frequently|      279| Maternity|               8|        1| Life Sciences|            1|                      3|  Male|        61|             2|       2|  Other|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|    1|               10|                    3|              3|            10|                 7|                      1|                   7|
|   1060315| 37|      Yes|    Travel_Rarely|     1373| Maternity|               2|        2|         Other|            1|                      4|  Male|        92|             2|       1|  Nurse|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|    0|                7|                    3|              3|             0|                 0|                      0|                   0|
|   1272912| 33|       No|Travel_Frequently|     1392| Maternity|               3|        4| Life Sciences|            1|                      4|Female|        56|             3|       1|  Other|              3|      Married|         2909|      23159|                 1|     Y|     Yes|               11|                3|                       3|           80|    0|                8|                    3|              3|             8|                 7|                      3|                   0|
|   1414939| 27|       No|    Travel_Rarely|      591| Maternity|               2|        1|       Medical|            1|                      1|  Male|        40|             3|       1|  Nurse|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|    1|                6|                    3|              3|             2|                 2|                      2|                   2|
+----------+---+---------+-----------------+---------+----------+----------------+---------+--------------+-------------+-----------------------+------+----------+--------------+--------+-------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+-----+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 5 rows

In [21]:
print("Jumlah baris:", df.count())
print("Jumlah kolom:", len(df.columns))

# Statistik deskriptif
df.describe().show()

# Menampilkan kolom tertentu (yang valid)
df.select("EmployeeID", "Age", "Department").show(10)

# Filter karyawan dengan umur > 40
df.filter(df["Age"] > 40).show(10)

# Agregasi: jumlah karyawan per Department
df.groupBy("Department").count().show()

Jumlah baris: 1676
Jumlah kolom: 35
+-------+------------------+------------------+---------+--------------+------------------+----------+-----------------+------------------+----------------+-------------+-----------------------+------+-----------------+------------------+------------------+---------+------------------+-------------+-----------------+-----------------+------------------+------+--------+------------------+------------------+------------------------+-------------+------------------+-----------------+---------------------+------------------+-----------------+------------------+-----------------------+--------------------+
|summary|        EmployeeID|               Age|Attrition|BusinessTravel|         DailyRate|Department| DistanceFromHome|         Education|  EducationField|EmployeeCount|EnvironmentSatisfaction|Gender|       HourlyRate|    JobInvolvement|          JobLevel|  JobRole|   JobSatisfaction|MaritalStatus|    MonthlyIncome|      MonthlyRate|NumCompaniesWorked|Over18|OverTime| PercentSalaryHike| PerformanceRating|RelationshipSatisfaction|StandardHours|             Shift|TotalWorkingYears|TrainingTimesLastYear|   WorkLifeBalance|   YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+-------+------------------+------------------+---------+--------------+------------------+----------+-----------------+------------------+----------------+-------------+-----------------------+------+-----------------+------------------+------------------+---------+------------------+-------------+-----------------+-----------------+------------------+------+--------+------------------+------------------+------------------------+-------------+------------------+-----------------+---------------------+------------------+-----------------+------------------+-----------------------+--------------------+
|  count|              1676|              1676|     1676|          1676|              1676|      1676|             1676|              1676|            1676|         1676|                   1676|  1676|             1676|              1676|              1676|     1676|              1676|         1676|             1676|             1676|              1676|  1676|    1676|              1676|              1676|                    1676|         1676|              1676|             1676|                 1676|              1676|             1676|              1676|                   1676|                1676|
|   mean|1456795.7207637231|36.866348448687354|     NULL|          NULL| 800.5578758949881|      NULL|9.221957040572793|2.9075178997613365|            NULL|          1.0|      2.714797136038186|  NULL|65.47016706443914|2.7249403341288785|2.0668257756563246|     NULL|2.7386634844868736|         NULL|6516.512529832936|14287.01968973747| 2.662291169451074|  NULL|    NULL| 15.19689737470167|3.1503579952267304|      2.7183770883054894|         80.0|0.8060859188544153|11.33890214797136|    2.805489260143198|2.7661097852028638|7.033412887828162|  4.26491646778043|      2.200477326968974|   4.135441527446301|
| stddev|248748.62438255013| 9.129125509525002|     NULL|          NULL|401.59443816838905|      NULL|8.158117721920949|1.0258350146545725|            NULL|          0.0|      1.097534014983373|  NULL|20.20757222271522|0.7141208953351504| 1.113422989750691|     NULL|1.1040048145593835|         NULL|4728.456618272787|7138.857783228654| 2.477704378293447|  NULL|    NULL|3.6465501067998565|0.3575286526063966|      1.0781615047184856|          0.0|0.8555273920709324|7.834996255033527|   1.2884306081909855|0.7023691404329718|6.098990808531865| 3.627455593466369|     3.2295870646018856|  3.5596624670836383|
|    min|           1025177|                18|       No|    Non-Travel|               102|Cardiology|                1|                 1| Human Resources|            1|                      1|Female|               30|                 1|                 1|    Admin|                 1|     Divorced|             1009|             2094|                 0|     Y|      No|                11|                 3|                       1|           80|                 0|                0|                    0|                 1|                0|                 0|                      0|                   0|
|    max|           1886378|                60|      Yes| Travel_Rarely|              1499| Neurology|               29|                 5|Technical Degree|            1|                      4|  Male|              100|                 4|                 5|Therapist|                 4|       Single|            19999|            26999|                 9|     Y|     Yes|                25|                 4|                       4|           80|                 3|               40|                    6|                 4|               40|                18|                     15|                  17|
+-------+------------------+------------------+---------+--------------+------------------+----------+-----------------+------------------+----------------+-------------+-----------------------+------+-----------------+------------------+------------------+---------+------------------+-------------+-----------------+-----------------+------------------+------+--------+------------------+------------------+------------------------+-------------+------------------+-----------------+---------------------+------------------+-----------------+------------------+-----------------------+--------------------+

+----------+---+----------+
|EmployeeID|Age|Department|
+----------+---+----------+
|   1313919| 41|Cardiology|
|   1200302| 49| Maternity|
|   1060315| 37| Maternity|
|   1272912| 33| Maternity|
|   1414939| 27| Maternity|
|   1633361| 32| Maternity|
|   1329390| 59| Maternity|
|   1699288| 30| Maternity|
|   1469740| 38| Maternity|
|   1101291| 36| Maternity|
+----------+---+----------+
only showing top 10 rows

+----------+---+---------+-----------------+---------+----------+----------------+---------+--------------+-------------+-----------------------+------+----------+--------------+--------+--------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+-----+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|EmployeeID|Age|Attrition|   BusinessTravel|DailyRate|Department|DistanceFromHome|Education|EducationField|EmployeeCount|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|       JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|Shift|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+----------+---+---------+-----------------+---------+----------+----------------+---------+--------------+-------------+-----------------------+------+----------+--------------+--------+--------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+-----+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|   1313919| 41|       No|    Travel_Rarely|     1102|Cardiology|               1|        2| Life Sciences|            1|                      2|Female|        94|             3|       2|         Nurse|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|    0|                8|                    0|              1|             6|                 4|                      0|                   5|
|   1200302| 49|       No|Travel_Frequently|      279| Maternity|               8|        1| Life Sciences|            1|                      3|  Male|        61|             2|       2|         Other|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|    1|               10|                    3|              3|            10|                 7|                      1|                   7|
|   1329390| 59|       No|    Travel_Rarely|     1324| Maternity|               3|        3|       Medical|            1|                      3|Female|        81|             4|       1|         Nurse|              1|      Married|         2670|       9964|                 4|     Y|     Yes|               20|                4|                       1|           80|    3|               12|                    3|              2|             1|                 0|                      0|                   0|
|   1599218| 53|       No|    Travel_Rarely|     1219|Cardiology|               2|        4| Life Sciences|            1|                      1|Female|        78|             2|       4|Administrative|              4|      Married|        15427|      22021|                 2|     Y|      No|               16|                3|                       3|           80|    0|               31|                    3|              3|            25|                 8|                      3|                   7|
|   1142160| 53|       No|    Travel_Rarely|     1282| Neurology|               5|        3|         Other|            1|                      3|Female|        58|             3|       5|         Other|              3|     Divorced|        19094|      10735|                 4|     Y|      No|               11|                3|                       4|           80|    1|               26|                    3|              2|            14|                13|                      4|                   8|
|   1789756| 42|       No|    Travel_Rarely|      691|Cardiology|               8|        4|     Marketing|            1|                      3|  Male|        48|             3|       2|         Nurse|              2|      Married|         6825|      21173|                 0|     Y|      No|               11|                3|                       4|           80|    1|               10|                    2|              3|             9|                 7|                      4|                   2|
|   1126009| 44|       No|    Travel_Rarely|      477| Maternity|               7|        4|       Medical|            1|                      1|Female|        42|             2|       3|         Nurse|              4|      Married|        10248|       2094|                 3|     Y|      No|               14|                3|                       4|           80|    1|               24|                    4|              3|            22|                 6|                      5|                  17|
|   1552176| 46|       No|    Travel_Rarely|      705|Cardiology|               2|        4|     Marketing|            1|                      2|Female|        83|             3|       5|Administrative|              1|       Single|        18947|      22822|                 3|     Y|      No|               12|                3|                       4|           80|    0|               22|                    2|              2|             2|                 2|                      2|                   1|
|   1397325| 44|       No|    Travel_Rarely|     1459| Maternity|              10|        4|         Other|            1|                      4|  Male|        41|             3|       2|         Nurse|              4|      Married|         6465|      19121|                 2|     Y|     Yes|               13|                3|                       4|           80|    0|                9|                    5|              4|             4|                 2|                      1|                   3|
|   1650304| 43|       No|    Travel_Rarely|     1273| Maternity|               2|        2|       Medical|            1|                      4|Female|        72|             4|       1|         Other|              3|     Divorced|         2645|      21923|                 1|     Y|      No|               12|                3|                       4|           80|    2|                6|                    3|              2|             5|                 3|                      1|                   4|
+----------+---+---------+-----------------+---------+----------+----------------+---------+--------------+-------------+-----------------------+------+----------+--------------+--------+--------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+-----+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 10 rows

+----------+-----+
|Department|count|
+----------+-----+
| Neurology|  349|
|Cardiology|  531|
| Maternity|  796|
+----------+-----+

In [23]:
from pyspark.sql.functions import when

df = df.withColumn(
    "AgeCategory",
    when(df.Age < 18, "Child")
    .when((df.Age >= 18) & (df.Age < 60), "Adult")
    .otherwise("Senior")
)

df.select("EmployeeID", "Age", "AgeCategory").show(10)

+----------+---+-----------+
|EmployeeID|Age|AgeCategory|
+----------+---+-----------+
|   1313919| 41|      Adult|
|   1200302| 49|      Adult|
|   1060315| 37|      Adult|
|   1272912| 33|      Adult|
|   1414939| 27|      Adult|
|   1633361| 32|      Adult|
|   1329390| 59|      Adult|
|   1699288| 30|      Adult|
|   1469740| 38|      Adult|
|   1101291| 36|      Adult|
+----------+---+-----------+
only showing top 10 rows

In [24]:
df.write.csv("/content/output_healthcare", header=True, mode="overwrite")