In [ ]:
def merge_sort(arr, key):
    if len(arr) > 1:
        mid = len(arr) // 2
        left_half = arr[:mid]
        right_half = arr[mid:]

        merge_sort(left_half, key)
        merge_sort(right_half, key)

        i = j = k = 0

        while i < len(left_half) and j < len(right_half):
            left_value = float(left_half[i][key]) if key == "total" else left_half[i][key]
            right_value = float(right_half[j][key]) if key == "total" else right_half[j][key]

            if left_value < right_value:
                arr[k] = left_half[i]
                i += 1
            else:
                arr[k] = right_half[j]
                j += 1
            k += 1

        while i < len(left_half):
            arr[k] = left_half[i]
            i += 1
            k += 1

        while j < len(right_half):
            arr[k] = right_half[j]
            j += 1
            k += 1

# Contoh penggunaan
data_nama = [
    {"nama": "Rita"},
    {"nama": "Musa"},
    {"nama": "Kartika"}
]
data_umur = [
    {"umur": "25"},
    {"umur": "19"},
    {"umur": "35"}
]
data_belanjaan = [
    {"total": "100.00"},
    {"total": "25.00"},
    {"total": "75.00"}
]

merge_sort(data_nama, "nama")
print("\nData setelah sorting berdasarkan Nama (A-Z):")
for nama in data_nama:
    print(nama)

merge_sort(data_umur, "umur")
print("\nData setelah sorting berdasarkan Umur (Termuda - Tertua):")
for umur in data_umur:
    print(umur)

merge_sort(data_belanjaan, "total")
print("\nData setelah sorting berdasarkan Total Belanja (Terkecil - Terbesar):")
for total in data_belanjaan:
    print(total)

Data setelah sorting berdasarkan Nama (A-Z):
{'nama': 'Kartika'}
{'nama': 'Musa'}
{'nama': 'Rita'}

Data setelah sorting berdasarkan Umur (Termuda - Tertua):
{'umur': '19'}
{'umur': '25'}
{'umur': '35'}

Data setelah sorting berdasarkan Total Belanja (Terkecil - Terbesar):
{'total': '25.00'}
{'total': '75.00'}
{'total': '100.00'}